.catalog-container {
    display: flex;
    flex: 1;
}

.aside-menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 12px;
    background-color: var(--color-bg-soft);
    border-right: 2px solid var(--color-purple-light);
}

.products-container {
    flex: 3;
    background-color: var(--color-bg-soft);
}

.filter-type {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.checkinput-group {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.checkinput-group input[type="radio"],
.checkinput-group input[type="checkbox"] {
    cursor: pointer;
    accent-color: var(--color-purple-dark);
}