.home-page-container {
    display: flex;
    flex-direction: column;
}

.hero-section {
    display: flex;
    align-items: center;
    height: 80vh;
    padding: 64px;
    background-color: var(--color-bg-soft);
}

.hero-section div {
    flex: 1;
    height: 100%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.hero-text h1 {
    font-size: 3.5rem;
    color: var(--color-purple-dark);
}

.hero-text p {
    color: var(--color-gray-dark);
    font-size: 1.25rem;
    font-weight: 400;
}

.featured-products {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px 48px;
    background-color: var(--color-purple-light);
}

.featured-products h1 {
    font-size: 2rem;
    color: var(--color-black);
}

.products {
    display: flex;
    gap: 32px;
    justify-content: center;
}